# Precompiled Headers
*.mqh
# Precompiled Files
*.mq5
*.mq4
# Executables
*.ex5
*.ex4
# TEXT
#*.txt
#directory
/MQL5/Experts/
/MQL5/Include/MyFuzzy/Mamdani/
/MQL5/Include/MyFuzzy/Optimize/
/MQL5/Include/MyFuzzy/Sugeno/
/MQL5/Indicators/
/MQL5/Scripts/
#
